@use '../../scss/media-queries.scss' as *;

.newProject {
  width: 75rem;

  @include sm {
    width: 44rem;
  }
}

.projects__list {
  display: flex;
  width: 44rem;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;

  @include xs {
    width: 19rem;
  }

  @include sm {
    width: 32rem;
  }
}
