.app {
  width: 100%;
  height: calc(100vh - 56px);

  &__toast-container {
    padding: 4.5rem 1rem;
  }
}

.sash-wrap-line {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;

  .line {
    display: block;
    height: 100%;
    width: 1px;
    background-color: rgba(224, 11, 11, 0.966);
  }

  &.active {
    background-color: rgb(255, 0, 0);
  }

  &.inactive {
    transition: none;
  }
}